.header{
    background-color: #A9C3EF;    
}
.logo{
    height:50px;
}
.navbar-brand{
    color: #1A237E;
}
button.signin:hover{
    background-color:#1A237E;
}
button.signup:hover{
    background-color:#1A237E;
}






